// Стили для странмицы показа
._progress {
	min-height: 100vh;
	width: 100vw;
	@extend %flex-center;
	padding: 10rem 0;

	@media (max-width: 767px) {
		padding: 5rem 0;
	}
}

._progress__inner {
	@media (min-width: 768px) {
		columns: 2;
		column-gap: 50px;
	}
}

._progress__link {
	display: block;
	@extend %terminator;
	font-size: 1.5vmax;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: $accent;
	transition: opacity 0.3s;

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.5;
		}
	}
}
