.swiper-horizontal > .swiper-scrollbar {
    height: 0.2rem;
    bottom: 1.35rem;
    @media (max-width: 1024px) {
        height: 0.1rem;
        bottom: 1rem;
    }
}
.swiper-scrollbar {
    border-radius: 0;
    position: relative;
    background: url(../images/scrollbar.svg);
}

.swiper-scrollbar-drag {
    top: -1.35rem;
    width: 2.7rem !important;
    height: 2.7rem;
    border-radius: 50%;
    background-color: $accent;
    @media (max-width: 1024px) {
        top: -1rem;
        width: 2.1rem !important;
        height: 2.1rem;
    }
}

.swiper-button {
    &-prev,
    &-next {
        z-index: 100;
        margin-top: 0;
        &::after {
            content: '';
        }
    }
}
