@font-face {
    font-family: 'Noto Mono';
    src: local('Noto Mono'), local('NotoMono'), url('../fonts/Notomono.woff2') format('woff2'),
        url('../fonts/Notomono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
