// colors
$accent: #2094ff;
$dark: #2b2b2b;

$container: 176rem;
$gap: 2rem;

%text-12 {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

%text-18 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

%text-20 {
    font-size: 2rem;
    line-height: 2.7rem;
}

%text-22 {
    font-size: 2.2rem;
    line-height: 3.8rem;
    @media (max-width: 1024px) {
        font-size: 1.6rem;
        line-height: 2.1rem;
    }
}

%text-28 {
    font-size: 2.8rem;
    line-height: 3.7rem;
}

%text-30 {
    font-size: 3rem;
    line-height: 4rem;
    @media (max-width: 1024px) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

%text-32 {
    font-size: 3.2rem;
    line-height: calc(43 / 32 * 100%);
    @media (max-width: 1024px) {
        font-size: 2.6rem;
        line-height: 3.5rem;
    }
}

%text-36 {
    font-size: 3.6rem;
    line-height: calc(38 / 36 * 100%);
    @media (max-width: 1024px) {
        font-size: 2.6rem;
        line-height: 3.5rem;
    }
}

%text-46 {
    font-size: 4.6rem;
    line-height: calc(49 / 46 * 100%);
    @media (max-width: 1024px) {
        font-size: 3.2rem;
    }
    @media (max-width: 767px) {
        font-size: 2.2rem;
        line-height: 3.5rem;
    }
}

%text-50 {
    font-size: 5rem;
    line-height: 5.7rem;
}

%text-60 {
    font-size: 6rem;
    line-height: calc(80 / 60 * 100%);
    @media (max-width: 1024px) {
        font-size: 3.6rem;
        line-height: 4.1rem;
    }
}

// flex
%vertical-align {
    display: flex;
    align-items: center;
}

%flex-center {
    @extend %vertical-align;
    justify-content: center;
}

%flex-row {
    display: flex;
    justify-content: space-between;
}

%flex-row-center {
    @extend %flex-row;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-center {
    @extend %flex-col;
    align-items: center;
}

// positioning
%pos-center-x {
    left: 50%;
    transform: translateX(-50%);
}

%pos-center-y {
    top: 50%;
    transform: translateY(-50%);
}

%pos-center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// background
%cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
