.services-section {
    // .services__grid

    /* &__grid {
        display: grid;
        grid-template-rows: 1.3rem max-content 7rem 20.5rem + 16.3rem - 33.5rem 7.2rem max-content 6.5rem max-content;
        grid-template-columns: 71.6rem 8.5rem 1fr 20.5rem;
        grid-template-areas:
            'title title title .'
            'title title title price'
            '. . . price'
            'image . . price'
            'image . . .'
            'image . tabs tabs'
            'image . . .'
            'image . content content';
        @media (max-width: 1024px) {
            grid-template-rows: max-content 3rem max-content 3rem max-content 0.8rem 14rem max-content;
            grid-template-columns: 1fr 14.4rem;
            grid-template-areas:
                'title title'
                '. .'
                'tabs tabs'
                '. .'
                'content content'
                '. .'
                '. price'
                'image image';
        }
    } */

    &__top {
        @extend %flex-row-center;
        margin: 3rem 0 4.5rem;
        @media (max-width: 1024px) {
            margin: 4.7rem 0;
        }
    }

    // .services__title

    &__title {
        @extend %text-46;
        font-weight: 500;
        color: #ccc;
        //grid-area: title;
    }

    // .services__price

    &__prices {
        //grid-area: price;
        display: grid;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__price {
        grid-area: 1 / 2;
        width: 20.5rem;
        height: 20.5rem;
        font-size: 4rem;
        line-height: calc(46 / 40 * 100%);
        transform: translateX(calc(20.5rem + (100vw - 176rem) / 2)) rotate(180deg);
        transition: 0.5s all;
        @media (max-width: 1024px) {
            width: 14.4rem;
            height: 14.4rem;
            transform: translateX(16.4rem) rotate(180deg);
            font-size: 3rem;
        }
        @media (max-width: 767px) {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
        span {
            transform: rotate(-8deg);
        }

        &.active {
            transform: translateX(0) rotate(0);
        }
    }
}

.services-item {
    display: grid;

    @media (min-width: 1025px) {
        grid-template-columns: 71.6rem 1fr;
        column-gap: 8.5rem;
    }

    @media (max-width: 1024px) {
        row-gap: 13rem;
    }
    // .services__images

    &__images {
        //grid-area: image;
        //align-self: center;
        display: grid;
        @media (min-width: 1025px) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        @media (max-width: 1024px) {
            position: relative;
            margin-left: -2rem;
            width: 100vw;
            margin-top: 9.9rem - 14.4rem;
        }

        .services-section__prices {
            display: none;
            @media (max-width: 1024px) {
                display: grid;
                position: absolute;
                top: -10rem;
                right: 2rem;
            }
        }
    }

    &__body {
        @media (min-width: 1025px) {
            grid-column: 2 / 3;
        }
    }

    &__content {
        @extend %flex-col;
        align-items: flex-start;
    }

    // .services__img

    &__img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: 0.5s all;
        @media (min-width: 1025px) {
            height: 58.8rem;
        }
        @media (max-width: 1024px) {
            height: 32.6rem;
        }
        &.active {
            display: block;
        }
        &:not(.active) {
            transform: translateX(calc(-71.6rem - (100vw - 176.2rem) / 2));
            @media (max-width: 1024px) {
                transform: translateX(-100vw);
            }
        }
        img {
            @extend %cover;
        }
    }

    // .services__tabs

    &__tabs {
        //grid-area: tabs;
        border-bottom: 0.1rem dashed $accent;
        //overflow-x: auto;
        /* &::-webkit-scrollbar {
            height: 0.1rem;
        } */
        &:not(:last-child) {
            margin-bottom: 6.5rem;
            @media (max-width: 767px) {
                margin-bottom: 4rem;
            }
        }
        @media (min-width: 1025px) {
            padding-top: 7.2rem - 4.5rem;
            padding-bottom: 2rem;
        }
    }

    &__tab {
        &:not(:last-child) {
            margin-right: 2rem;
            /* @media (max-width: 1024px) {
                margin-right: 2.6rem;
            } */
        }
    }

    // .services__tabs-content

    &__tabs-content {
        //grid-area: content;
        @media (min-width: 1025px) {
            display: grid;
        }
        @media (max-width: 1024px) {
            width: calc(100vw - 4rem);
        }
    }

    // .services__content

    &__content {
        @extend %text-30;

        @media (min-width: 1025px) {
            grid-area: 1 / 2;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 0.5s all;
        }
        @media (max-width: 1024px) {
            display: none;
            font-size: 2.4rem;
        }
        @media (max-width: 767px) {
            font-size: 2.2rem;
            line-height: 2.9rem;
        }
        &.active {
            @media (min-width: 1025px) {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
            @media (max-width: 1024px) {
                display: block;
            }
        }
        > * {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
        ul {
            &:not(:last-child) {
                margin-bottom: 5.8rem;
                @media (max-width: 767px) {
                    margin-bottom: 3rem;
                }
            }
            @media (max-width: 1024px) {
                padding-left: 2rem;
            }
            li {
                font-weight: 500;
                line-height: 5.1rem;
                @media (max-width: 1024px) {
                    line-height: 2.6rem;
                }
                @media (max-width: 767px) {
                    line-height: 2.4rem;
                }
                &:not(:last-child) {
                    @media (max-width: 767px) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}
